<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />

    <application
        android:name=".app.AlmacenTrackerApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlmacenTracker">
        <activity
            android:name=".feature.inventory.list.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.inventory.form.ItemFormActivity"
            android:exported="false" />
        <activity
            android:name=".feature.inventory.detail.ItemDetailActivity"
            android:exported="false" />
        <activity
            android:name=".feature.data_management.common.DataManagementActivity"
            android:exported="false" />
        <activity
            android:name=".feature.reference_list.location.ReferenceListLocationActivity"
            android:exported="false" />
        <activity
            android:name=".feature.reference_list.review.ReferenceListReviewActivity"
            android:exported="false" />
        <activity
            android:name=".feature.reference_list.capture.ReferenceListCaptureActivity"
            android:exported="false" />
        <activity
            android:name=".feature.withdrawal_history.list.WithdrawalHistoryListActivity"
            android:exported="false" />
        <activity
            android:name=".feature.withdrawal_history.create.WithdrawalHistoryCreateActivity"
            android:exported="false" />
        <activity
            android:name=".feature.scanner.ScannerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />

        </provider>
    </application>

</manifest>
